extends layout

block content
    div(class="mdl-grid top15")
      div(class="mdl-layout-spacer")
      div 
        div(class="mdl-typography--title") Hi 
        br 
        div 
          div This small webapp allows you to add songs from the setlist of an artist to a public spotify playlist. 
          div If you want to use a private playlist, just change it to public and back to private when you're done. I might allow for private playlists in the future.  
        br
        div I created this for my own sake for when I want to prep up before a concert or festival, and haven't put too much work into it. If you find a use for it too - good stuff.
        div This site uses the public APIs of Spotify and Setlist.fm, but is not endorsed by them in any way.  
        br 
        div 
          div Feel free to give me feedback/bug reports/whatever. 
          a(href="mailto://info@setlist2playlist.me") info@setlist2playlist.me    
      div(class="mdl-layout-spacer")