extends layout

block content
  div(class="mdl-grid top15")
    div(class="mdl-layout-spacer")
    div(class="" ng-style="{'width': '30vw'}")
        a( href="/login" ng-show="!playlists")
            img(  class="text-center" src="/images/log_in-mobile.svg")
    div(class="mdl-layout-spacer")
            
  div(ng-show="playlists")
      div(class="mdl-grid top17")
        div(class="mdl-layout-spacer")
        div(class="text-center")
          select(ng-model="selectedList" class="text-center setlister-select" ng-options="playlist as playlist.name for playlist in playlists")
            option(value="") Choose a Spotify playlist 
        div(class="mdl-layout-spacer")
  
      form(class="mdl-grid top15 " ng-submit="searchArtist()"  )
        div(class="mdl-layout-spacer")
        div(class="mdl-textfield mdl-js-textfield" )
          input(class="mdl-textfield__input text-center" name="artistNameInput" ng-blur="searchArtist()" ng-model="artistInput")
          label(class="mdl-textfield__label" for="artistNameInput") Artist name...
        div(class="mdl-layout-spacer")
     
      div(class="mdl-grid top17" ng-show="artists && artists.length > 0")
        div(class="mdl-layout-spacer")
        div( class="btn" ng-disabled="artists.length < 2 || artistIndex === 0" ng-click="(artists.length < 2) || artistIndex === 0 || (artistIndex = artistIndex - 1)") 
            i(class="material-icons md-36") chevron_left
        div(class="selector-title mdl-typography--title"){{ artist.name }} 
        div( class="btn" ng-disabled="artistIndex === artists.length - 1" ng-click="artistIndex === artists.length - 1 || (artistIndex = artistIndex + 1)")
            i(ng-class="{ 'md-inactive': artistIndex === artists.length - 1 }" class="material-icons md-36") chevron_right
        div(class="mdl-layout-spacer")

        
      div(class="mdl-grid top17" ng-show="setlists.length > 0 && artist != null") 
        div(class="mdl-layout-spacer")
        div(ng-disabled="setlists.length < 2 || setlistIndex == 0" ng-click="setlists.length < 2 || setlistIndex == 0 || (setlistIndex = setlistIndex - 1)" class="btn")
            i(class="material-icons md-36") chevron_left
        div(class="selector-title mdl-typography--title") {{ setlists[setlistIndex].where }} 
        div(ng-disabled="setlistIndex == setlists.length - 1" ng-click="setlistIndex == setlists.length - 1 ||  (setlistIndex =setlistIndex +  1)" class="btn")
            i(class="material-icons md-36") chevron_right
        div(class="mdl-layout-spacer")
      div(class="mdl-grid top17" ng-show="setlists.length <= 0 && artist != null") 
        div(class="mdl-layout-spacer")
        div(class="selector-title mdl-typography--display-1") No sets found
        div(class="mdl-layout-spacer")
        
      div(class="mdl-grid top15")
        div(class="mdl-layout-spacer")
        div(ng-disabled="!selectedList || !songs || !readyToAddSongs" ng-click="!selectedList || !songs || !readyToAddSongs || addSongsToList()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" id="addToPlaylistBtn") 
            i(class="icon material-icons") playlist_add
        div(class="mdl-tooltip mdl-tooltip--large" for="addToPlaylistBtn") Add to {{ selectedList.name }}
        
        
      table(class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullwidth")
        thead
          tr
            th(class="mdl-data-table__cell--non-numeric") Setlist.fm name
            th(class="mdl-data-table__cell--non-numeric") Spotify name
        tbody
          tr(ng-repeat="song in setlists[setlistIndex].songs" ng-class="{ 'text-warning': !song.spotifyData , 'strikethrough': song.addedToList }" ) 
            td(class="mdl-data-table__cell--non-numeric" ng-class="{ 'strikethrough': !song.spotifyData }")
              div {{ song.name }}
            td(class="mdl-data-table__cell--non-numeric" ng-class="{ 'text-success': song.spotifyData }") {{  (song.spotifyData ? '&#10003;' : '')  }} {{ !song.spotifyData ? "Song not found on Spotify" : song.spotifyData.name   }}  