extends layout

block content
  h1 SETLISTER
  p Welcome to SETLISTER!!
  div(class="row")
    a(href="/login") Log in with spotify
    // div(ng-if="!loggedIn")  
    // div(ng-if="loggedIn" class="") You are logged in.
   
  div Select a playlist
  select(class="form-control" ng-model="selectedList" ng-options="playlist as playlist.name for playlist in playlists")
  
  div(class="row")
    input(class="form-control" ng-model="artistInput" placeholder="Name of the band")
   
  div(class="row")
    div(class="btn btn-primary" ng-click="searchArtist()") Search
 
  div(class="row")
    // div {{ artistId }}
    div(ng-repeat="song in songs") {{ song['@name'] }} --  {{ song.spotifyData.name }}
  
  div(class="row")
    div(class="btn btn-primary" ng-disabled="!selectedList" ng-click="addSongsToList()") Add songs to playlist: {{ selectedList.name }}
 
  div {{ profile }}