extends layout

block content
            
  div()
      div(class="mdl-grid top17")
        div(class="mdl-layout-spacer")
        div(class="text-center")
          select(ng-model="selectedList" class="text-center setlister-select" ng-options="playlist as playlist.name for playlist in playlists")
            option(value="") Choose a public playlist 
        div(class="mdl-layout-spacer")
  
      form(class="mdl-grid top15 " ng-submit="searchArtist()"  )
        div(class="mdl-layout-spacer")
        div(class="mdl-textfield mdl-js-textfield" )
          input(class="mdl-textfield__input text-center" name="artistNameInput" ng-blur="searchArtist()" ng-model="artistInput" placeholder="Search for artist...")
          label(class="mdl-textfield__label" for="artistNameInput") Artist name...
        div(class="mdl-layout-spacer")
     
      div(class="mdl-grid top17")
        div(class="mdl-layout-spacer")
        div( class="btn" ng-click="(artists.length < 2) || artistIndex === 0 || (artistIndex = artistIndex - 1)") 
            i(ng-class="{ 'md-dark md-inactive': artists.length < 2 || artistIndex === 0 }" class="material-icons md-36") chevron_left
        div(class="selector-title mdl-typography--title" ng-class="{ 'text-cursive': artist == null }")  {{ (artist != null) ? artist.name :  'Artist'   }}
        div( class="btn" ng-click="artistIndex >= artists.length - 1 || (artistIndex = artistIndex + 1)")
            i(ng-class="{ 'md-dark md-inactive': artistIndex >= artists.length - 1 }" class="material-icons md-36") chevron_right
        div(class="mdl-layout-spacer")

        
      div(class="mdl-grid top17") 
        div(class="mdl-layout-spacer")
        div( ng-click="setlists.length < 2 || setlistIndex == 0 || (setlistIndex = setlistIndex - 1)" class="btn")
            i(ng-class="{ 'md-dark md-inactive': setlists.length < 2 || setlistIndex == 0 }" class="material-icons md-36") chevron_left
        div(class="selector-title mdl-typography--title" ng-class="{ 'text-cursive': !(setlists.length > 0) }") {{ (setlists.length > 0 && artist != null) ? setlists[setlistIndex].where :  'Location'   }} 
        div(ng-disabled="setlistIndex >= setlists.length - 1" ng-click="setlistIndex >= setlists.length - 1 ||  (setlistIndex =setlistIndex +  1)" class="btn")
            i(ng-class="{ 'md-dark md-inactive': setlistIndex >= setlists.length - 1 }" class="material-icons md-36") chevron_right
        div(class="mdl-layout-spacer")
      
      //- progress and search indicator
      div(class="mdl-grid top17 activityIndicator" ) 
        div(class="mdl-layout-spacer")
        div(class="mdl-layout-spacer")
        
        
    div(class="mdl-grid top15")
        div(class="mdl-layout-spacer")
        div(class="" ng-style="{'width': '30vw'}")
            a( href="/login?artist={{artistInput}}" ng-show="!playlists")
                img(  class="text-center" src="/images/log_in-mobile.svg")
        div(class="mdl-layout-spacer")
        
      div(class="mdl-grid top15")
        div(class="mdl-layout-spacer")
        div(ng-disabled="!selectedList || !songs || !readyToAddSongs" ng-click="!selectedList || !songs || !readyToAddSongs || addSongsToList()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" id="addToPlaylistBtn") 
            i(class="icon material-icons") playlist_add
        div(class="mdl-tooltip mdl-tooltip--large" for="addToPlaylistBtn") Add to {{ selectedList.name }}
        
        
      table(class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullwidth")
        thead
          tr
            th(class="mdl-data-table__cell--non-numeric") Setlist.fm name
            th(class="mdl-data-table__cell--non-numeric") Spotify name
        tbody
          tr(ng-repeat="song in setlists[setlistIndex].songs" ) 
            td(class="mdl-data-table__cell--non-numeric" ng-class="{ 'text-cursive': !song.spotifyData }")
              div {{ song.name }}
            td(class="mdl-data-table__cell--non-numeric" ng-class="{ 'text-cursive': !song.spotifyData }") 
                div
                  i(ng-show="song.addedToList" class="icon material-icons text-success align-vertical") done 
                  span {{ !song.spotifyData ? "Song not found on Spotify" : song.spotifyData.name   }}  