extends layout

block content
  a(href='/')
    h1 SETLISTER
  p Welcome to SETLISTER!!
  div(class="row")
    a(href="/login") Log in with spotify
 
  div Select a playlist
  select(class="form-control" ng-model="selectedList" ng-options="playlist as playlist.name for playlist in playlists")
  
  div(class="row")
    input(class="form-control" ng-model="artistInput" placeholder="Name of the band")
   
  div(class="row")
    div(class="btn btn-primary" ng-click="searchArtist()") Search
 
  div(class="row")
    // div {{ artistId }}
    div(ng-repeat="song in songs") {{ song['@name'] }} --  {{ song.spotifyData ? "Found song" : "Didnt find song" }}
  
  div(class="row")
    div(class="btn btn-primary" ng-disabled="!selectedList || !songs" ng-click="addSongsToList()") Add songs to playlist: {{ selectedList.name }}
    