extends layout

block content
  a(href='/')
    h1(class="text-center") Setlister
  
  div(class="row top15")
    div(class="center-block" ng-style="{'width': '30vw'}")
        a( href="/login" ng-show="!playlists")
            img(  class="text-center" src="/images/log_in-mobile.svg")
 
  div(ng-show="playlists")
      div(class="row top17")
        div(class="col-xs-4 col-xs-offset-4")
          select(class="form-control" ng-model="selectedList" ng-options="playlist as playlist.name for playlist in playlists")
            option(value="") Choose a Spotify playlist
  
      form(class="row top15 text-center" ng-submit="searchArtist()"  )
        div(class="col-xs-4 col-xs-offset-4")
          input(class="form-control text-center" ng-blur="searchArtist()" ng-model="artistInput" placeholder="Name of the band")
     
      div(class="row top17" ng-show="artists") 
        div(class="col-xs-6 col-xs-offset-3")
          span(ng-disabled="artists.length < 2 || artistIndex === 0" ng-click="(artists.length < 2) || artistIndex === 0 || (artistIndex = artistIndex - 1)" class="btn glyphicon glyphicon-chevron-left")
          h3 {{ artist.name }} 
          span(ng-disabled="artistIndex === artists.length - 1" ng-click="artistIndex == artists.length - 1 || (artistIndex = artistIndex + 1)" class="btn glyphicon glyphicon-chevron-right")
       
      div(class="row top17" ng-show="setlists" ng-if="artist != null") 
        div(class="col-xs-6 col-xs-offset-3")
            div(ng-show="setlists.length > 0")
                span(ng-disabled="setlists.length < 2 || setlistIndex === 0" ng-click="(setlistIndex = setlistIndex - 1)" class="btn glyphicon glyphicon-chevron-left")
                h3  {{ setlists[setlistIndex].where }} {{ setlistIndex }}
                span(ng-disabled="setlistIndex === setlists.length - 1" ng-click="(setlistIndex = setlistIndex +  1)" class="btn glyphicon glyphicon-chevron-right")
            div(ng-show="setlists.length <= 0" class="text-center") No sets found
        
      div(class="row top15 text-center")
        div(class="btn btn-primary" ng-disabled="!selectedList || !songs || !readyToAddSongs" ng-click="addSongsToList()") Add songs to playlist: {{ selectedList.name }}

      div(class="row top15 bot15 top-border bot-border")
        table(class="table")
          thead
            tr
              th Setlist.fm name
              th Spotify name
          tbody
            tr(ng-repeat="song in setlists[setlistIndex].songs" ng-class="{ 'text-warning': !song.spotifyData , 'text-success': song.addedToList }") 
              td(ng-class="{ 'strikethrough': !song.spotifyData }") {{ song.name }}
              td {{ !song.spotifyData ? "Song not found on Spotify" : song.spotifyData.name }}
  
      div(class="row top5")
        div(class="col-xs-12")
          div(class="btn btn-primary pull-right" ng-disabled="!selectedList || !songs || !readyToAddSongs" ng-click="addSongsToList()") Add songs to playlist: {{ selectedList.name }}

    